/* <style>

</style> */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;500;700&display=swap');
*,
*::after,
*::before
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background: blueviolet; */
}
 body{
    padding-top: 60px;
    background: hsl(212, 45%, 89%);
 
    font-family: 'Outfit', sans-serif;
 }

.main-card{
    display: block;
    border-radius: 20px;
    padding: 20px;
    width: 70%;
    margin:  0 auto;
    background-color: hsl(0, 0%, 100%); 
}

.hero-img{
    width: 100%;
    border-radius: 10px;
   
}
.header{
    margin: 20px 0;
    flex-wrap: wrap;
    text-align: center;
    Font-size : 1.3rem;
    font-weight: 700;
    color: hsl(218, 44%, 22%);
}
.content{
    Font-size : 1rem;
    margin-bottom: 20px;
    font-weight: 400;
    text-align: center;
    color: hsl(220, 15%, 55%);
}
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

@media screen and (min-width:1200px) {

    .main-card{
        display: block;
        border-radius: 20px;
        padding: 20px;
        width: 25%;
        margin:  0 auto;
        background-color: hsl(0, 0%, 100%); 
    }
    .hero-img{
        width: 100%;
        border-radius: 10px;
       
    }
    
}